.box-container {
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
}

.logo-image {
  height: 50px;
  width: 50px;
}

@media(max-width:480px){
  .title, .title-phone-menu{
    font-size: 15px !important;
  }
}
