.contact-container {
    background-color: #f5f5f5;
    color: black;
  }
  
  .contact-image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    margin-top: 56px; 
  }
  
  .contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: #f5f5f5;
    color: black;
  }
  
  .contact-title {
    margin-bottom: 16px;
    color: #1976d2; 
  }
  
  .contact-description {
    text-align: center;
    color: #555;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 16px;
    margin: 16px;
  }
  
  .contact-textfield {
    color: black;
    border-color: #1976d2; 
  }
  
  .contact-textfield:hover .MuiOutlinedInput-notchedOutline {
    border-color: #1976d2;
  }
  
  .contact-textfield-focused .MuiOutlinedInput-notchedOutline {
    border-color: #1976d2;
  }
  
  .contact-textfield-label {
    color: #1976d2;
  }
  
  .contact-textfield-label-focused {
    color: #1976d2;
  }
  
  .contact-button {
    background-color: #1976d2; 
    color: white;
  }
  
  .contact-button:hover {
    background-color: #1565c0; 
  }
  
  .contact-map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }
  